#imagenFace{
    width: 20%;
    height: 20%;
    float: right;
}
#imagenFace2{
    width: 20%;
    height: 20%;
    float: right;
}
#imagenFace3{
    width: 20%;
    height: 20%;
    float: right;
}
#imagenFace4{
    width: 20%;
    height: 20%;
    float: right;
}